main {
    flex-direction: row!important;
    justify-content: flex-start!important;
    padding: 0!important;
    align-items: flex-start!important;
}

.admin-navbar {
    display: flex;
    background-color: var(--default_white);
    gap: 25px;
    width: 15vw;
    min-height: 90vh;
    padding: 40px 20px;
    justify-content: center;
}

.logos, .text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text a{
    color: var(--default_color);
    text-decoration: none;
    transition: all .2s ease-in;
}

.text a:hover{
    color: var(--default_red);
    text-decoration: underline;
}

.content {
    width: 90vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto 0;
}

.content h1{
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 25px;
}

td a{
    text-decoration: none;
}

span.relative.z-0.inline-flex.rtl\:flex-row-reverse.shadow-sm.rounded-md {
    display: none;
}

nav.flex.items-center.justify-between {
    display: flex;
    gap: 15px;
    /* color: var(--default_red); */
}

a.relative.inline-flex.items-center.px-4.py-2.ml-3.text-sm.font-medium.text-gray-700.bg-white.border.border-gray-300.leading-5.rounded-md.hover\:text-gray-500.focus\:outline-none.focus\:ring.ring-gray-300.focus\:border-blue-300.active\:bg-gray-100.active\:text-gray-700.transition.ease-in-out.duration-150.dark\:bg-gray-800.dark\:border-gray-600.dark\:text-gray-300.dark\:focus\:border-blue-700.dark\:active\:bg-gray-700.dark\:active\:text-gray-300, a.relative.inline-flex.items-center.px-4.py-2.text-sm.font-medium.text-gray-700.bg-white.border.border-gray-300.leading-5.rounded-md.hover\:text-gray-500.focus\:outline-none.focus\:ring.ring-gray-300.focus\:border-blue-300.active\:bg-gray-100.active\:text-gray-700.transition.ease-in-out.duration-150.dark\:bg-gray-800.dark\:border-gray-600.dark\:text-gray-300.dark\:focus\:border-blue-700.dark\:active\:bg-gray-700.dark\:active\:text-gray-300, span.relative.inline-flex.items-center.px-4.py-2.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.cursor-default.leading-5.rounded-md.dark\:text-gray-600.dark\:bg-gray-800.dark\:border-gray-600 {
    color: var(--default_red);
    text-decoration: none;
}

a.relative.inline-flex.items-center.px-4.py-2.ml-3.text-sm.font-medium.text-gray-700.bg-white.border.border-gray-300.leading-5.rounded-md.hover\:text-gray-500.focus\:outline-none.focus\:ring.ring-gray-300.focus\:border-blue-300.active\:bg-gray-100.active\:text-gray-700.transition.ease-in-out.duration-150.dark\:bg-gray-800.dark\:border-gray-600.dark\:text-gray-300.dark\:focus\:border-blue-700.dark\:active\:bg-gray-700.dark\:active\:text-gray-300, a.relative.inline-flex.items-center.px-4.py-2.text-sm.font-medium.text-gray-700.bg-white.border.border-gray-300.leading-5.rounded-md.hover\:text-gray-500.focus\:outline-none.focus\:ring.ring-gray-300.focus\:border-blue-300.active\:bg-gray-100.active\:text-gray-700.transition.ease-in-out.duration-150.dark\:bg-gray-800.dark\:border-gray-600.dark\:text-gray-300.dark\:focus\:border-blue-700.dark\:active\:bg-gray-700.dark\:active\:text-gray-300 {
    font-weight: bold;
}

.logo_team{
    border-radius: 5px;
    width: 35px;
    margin-left: 15px;
}

.driver{
    width: 45px;
    margin-left: 15px;
}

form {
    width: 100%;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* .dates {
    gap: 15px !important;
} */

.item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 60px;
}

.item_content {
    width: 45%;
}