main {
    font-weight: normal;
}

.next-race {
    display: flex;
    width: 65%;
    justify-content: space-between;
}

.info {
    max-width: 400px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--default_grayA);
    border-radius: 0 50px 0 0;
    border-top: 10px solid var(--default_red);
    border-right: 5px solid var(--default_red);
    color: var(--default_color);
    padding: 25px;
}

.info:hover{
        cursor: pointer;
        box-shadow: rgb(0 0 0 / 11%) 5px 3px 10px;
}

.dat_country {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dat_country img {
    width: 10%;
}

.circuit {
    width: 35%;
}

.parctice {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.next-race,
.others {
    font-weight: normal;
}

.dat .month {
    background-color: var(--default_color);
    color: var(--default_white);
    text-align: center;
    font-weight: 700;
    border-radius: 10px;
    padding: 5px;
}

hr {
    margin: 10px 0;
}

.next_country {
    font-weight: bold;
}

.others {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.race {
    margin: 15px;
    padding: 15px;
    max-width: 400px;
    min-width: 400px;
    background-color: var(--default_grayA);
    border-radius: 0 50px 0 0;
    border-top: 10px solid var(--default_red);
    border-right: 5px solid var(--default_red);
    color: var(--default_color);
}

.race:hover {
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 11%) 5px 3px 10px;
}

.race p {
    padding: 0 15px;
}

.image {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
}

.image img {
    height: 100%;
}

h2.title {
    margin: 40px 0;
}

.link{
    text-decoration: none;
}

.parctice div p {
    padding: 5px;
}
