.next-race {
    display: flex;
    width: 65%;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
}

.dat_country {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dat_country img {
    width: 10%;
}

.circuit{
    width: 35%;
}

.next-race{
    font-weight: normal;
}

.dat .month{
    background-color: var(--default_color);
    color: var(--default_white);
    text-align: center;
    font-weight: 700;
    border-radius: 10px;
    padding: 5px 0;
}

.next_country{
    font-weight: bold;
}