main {
    align-items: center;
    padding: 50px 0;
    justify-content: center;
    font-family: var(--menu_family);
}

.splide.is-initialized,
.splide.is-rendered {
    width: 90vw;
}

div#splide01-track {
    margin-bottom: 60px;
}

.splide__pagination__page {
    background: var(--default_color);
    border-radius: 10px;
    width: 40px;
}

.splide__pagination__page.is-active {
    background: var(--default_color);
    transform: scale(1.2);
    z-index: 1;
}

.linkDriver {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    color: var(--default_color);
}

.splide__slide {
    width: calc(45%) !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--default_grayA);
    margin: 0 49px;
    border-radius: 0 70px 25px 0;
    /* padding-top: 25px; */
    padding: 25px 0 0 25px;
}

.driverAbout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.driverAbout img {
    width: 73px;
    border-radius: 10px;
}

.driver {
    display: flex;
    flex-direction: column;
}

.driverNameCountry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    align-items: center;
    z-index: 10;
}

.driver hr {
    margin: 15px 0;
}

.driverNameCountry img {
    height: 50px;
    border-radius: 10px;
    margin-left: 10px;
}

.driverInfo .all {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    gap: 25px;
    width: 100%;
}

.driverName {
    font-size: 50px;
    font-weight: normal;
    color: var(--default_white);
}

.driverName .lastName {
    font-size: 65px;
    font-weight: bold;
}

.driverTeam {
    color: var(--default_white);
    font-weight: lighter;
}

.driverNumImg {
    width: 150px;
}

.driverImg {
    height: 100%;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: center;
}

.driver_mobile {
    display: none;
}

@media (max-width: 1400px) {
    h2.driverName, .driverTeam{
        color: var(--default_color);
    }
    .splide_driver {
        display: none;
    }

    .driver_mobile {
        display: block;
    }

    .driver_mobile .list_driver {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-around;
    }

    .driver_mobile .item_driver {
        width: calc(90% / 2);
        margin-bottom: 35px;
    }

    .driver_mobile .item_driver .linkDriver{
        flex-direction: column;
    }

    .driver_mobile .driverNumImg {
        width: 100px;
    }

    .driver_mobile .driverImg {
        height: 350px;
    }

    .driver_mobile .driverImg img{
        height: 100%;
    }
}