main{
    height: calc(100vh - 30vh);
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box {
    width: 100%;
}

.login-box h1 {
    margin-bottom: 20px;
    text-align: center;
    color: var(--default_red); /* Ferrari Red */
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

button {
    width: 100%;
    padding: 10px;
    background: var(--default_red); /* Ferrari Red */
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: var(--default_red);
}

.register-link {
    text-align: center;
    margin-top: 10px;
}

.register-link a {
    color: var(--default_red); /* Ferrari Red */
    text-decoration: none;
    transition: color 0.3s;
}

.register-link a:hover {
    color: var(--default_red);
}
