form{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.prixs {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prix{
    width: calc(80% / 3);
    text-align: center;
    background: var(--default_grayA);
    padding: 25px 25px 0;
    margin: 25px 0;
    border-radius: 0 50px 0 0;
    border-top: 10px solid var(--default_red);
    border-right: 5px solid var(--default_red);
    color: var(--default_color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.prix:hover{
    cursor: pointer;
    box-shadow:  rgb(0 0 0 / 11%) 5px 3px 10px;
}

.img_country {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    width: 100%;
}

.img_country img.country{
    height: 30px;
    border-radius: 7px;
}

.prix img {
    height: 150px;
}

hr{
    width: 100%;
    border: 1px solid var(--default_color);
}

.info{
    text-align: left;
    margin: 5px 0;
    font-size: 25px;
}


.info p.country{
    font-size: 18px;
    font-weight: normal;
}

ul.pagination {
    display: flex;
    text-decoration: none;
    list-style: none;
    color: var(--default_red);
    gap: 10px;
}

ul.pagination .page-link{
    text-decoration: none;
    list-style: none;
    color: var(--default_red);
    font-weight: lighter;
}

ul.pagination .active{
    font-weight: bolder;
}